.black-logo{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #161616;
  text-align: center;
}


.main {
  padding-top: 4rem;
  padding-bottom: 2.8rem;
  background-image: url("img/background.png");
  background-size: 1.25rem 0.625rem;
  background-color: #eaebf0;
}

.main-contact-title {
  margin: 0;

  font-size: 24px;
  font-weight: bold;
  color: #3e4247;
}

.main-contact-text {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.main-contact-button {
  padding: 0.75rem 2rem;
  margin-bottom: 4rem;

  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;

  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.main-complex-card {
  display: flex;
  margin-bottom: 3rem;

  background-color: #ffffff;
  border-bottom: solid 2px #646971;

  cursor: pointer;
}

.main-complex-card-img {
  display: block;
  width: 100%;
  height: auto;
}

.main-complex-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.main-complex-card-info {
  padding: 1.5rem 2rem;
  background-color: #ffffff;
}

.main-complex-card-location {
  margin: 0;
  margin-bottom: 1.5rem;

  font-family: Monaco, Menlo, Consolas, monospace;
  font-size: 16px;
  text-transform: uppercase;
  color: #646971;
}

.main-complex-card-title {
  margin: 0;

  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}

.main-complex-card-description {
  line-height: 1.5;
}